@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: rgb(25, 33, 41);
  height: 40px;
 
}

.nav-bar-li{
  float: left;
  width:33%;
  text-align: center;
}

.nav-bar-item {
  color: white;
  text-decoration-color: rgba(25, 33, 41);
  font-size:2em; 
}

.header-site{
  background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height:650px;
  position:relative;
}

.quote{
  font-size:2.5em;
  position:absolute;
  left:10%;
  bottom:15vh;
}

.dark-background{
  background-color:rgb(25, 33, 41);
  color:white;
}

#general-information .text {
  font-size:2em;
  font-weight:100;
  text-align:center;
}

/* HGARR */
#general-information{  
  padding-top:2.5%;
  padding-bottom:2.5%;
  padding-left:2.5%;
  padding-right:2.5%;
}


.link-btn{
  background-color: rgb(67, 163, 230);
  color:white;
  font-family: "Roboto Condensed";
  font-size: 2em;
  letter-spacing:0.5px;
  text-align:center;
  text-decoration:none;
  display: block;
  width:150px;
  margin: 40px auto 0 auto;
  padding: 14px 20px 14px 20px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0,0,0,0.2);
}

#structure{       /*HGARR*/
  padding-top:2.5%;
  padding-bottom: 2.5%;
}

.service-box{
  font-size: 1.7em;
  text-align: center;
  /*HGARR*/
  width: 40%;    
  height:40%;
  padding-left:5%;
  padding-right:5%; 
  padding-top:2.5%;
  padding-bottom:2.5%;  
}

.service-box .img{
  width: 125px;
}

#team .section-text{
  font-size: 1.9em;
  text-align: center; 
}

#team .member-name{
  font-size: 1.5em;
  font-weight: 700; 
}

/* HGARR* added padding*/
#team{
  padding-left:2.5%;
  padding-right: 2.5%;
  padding-top:2.5%;
  padding-bottom:2.5%;
}

/*HGARR* added padding */
.contendor{
  padding-left:2.5%;
  padding-right: 2.5%;
  padding-top:2.5%;
  padding-bottom:2.5%;
}

.footer{
  font-size:1.9em;
  text-align: center;
}

.address{
  font-style: normal;
  font-size: 0.8em;
  margin-bottom: 17%;
}
.footer-link{
  text-decoration:none;
  color:rgb(67, 163, 230);
}

#footer-list{
  list-style-type: none;
}

.col{
  float: left;
  text-align: center;  /*HGARR: Aligns text in center of all columns, like member name in Team Section.*/
}
.col-2{
  widows:40%;
}

.col-3 {
  float: left;
  width: 30%;  /*  */
}

.col-middle {
  margin-left:2.5%;
  margin-right:2.5%;
}

.clearfix {
  clear:both;
}

.map-frame{
  height:375px;
  width:60%;
  float:right;
}



body {
  font-family: Roboto;
  font-size:10px;
  line-height:3.5em;
  font-weight:300;
}



h1,h2,h3,h4,h5 {
  font-family: 'Roboto Condensed';
}

h1 {
  font-size:9em;
  text-align:center;
  text-transform:uppercase;
}

h2 {
  font-size:5em;
  text-align:center;
  text-transform:uppercase;
  color: white;
  text-shadow: #020819 8px -20px 9px;
  
}

h3 {
  font-size:4.2em;
  text-align:center;
}

h4 {
  font-size:1.5em;
  letter-spacing: 0.4px;
}

h5 {
  font-size:1.2em;
}
